.row
  = form_tag artists_path, :method => 'get', class: 'col s12' do
    .row
      .input-field.col.s12
        %i.material-icons.prefix search
        %input#icon_prefix.validate{:type => "text", name: :search}
        %label{:for => "icon_prefix"} Artist Name
      / = submit_tag "Search"
      / # = text_field_tag :search, params[:search], id: "icon_prefix"  do
        
.row
  - @artists.response.artists.items.each do |artist|
    .col.s12.m4
      .card
        .card-image{style: "height: 350px; overflow: hidden;"}
          = image_tag(artist.images.first.try(:url), style: "" )
          %span.card-title{style: 'text-shadow: 2px 2px #e91e63;'}
            = artist.name
        .card-content{style: "height: 100px;"}
          - artist.genres.each do |genre|
            .chip 
              = genre
          .right
            .chip.green.lighten-3
              +
              = artist.popularity 

        .card-action
          = link_to "View artist", artist_path(artist.id)

    